<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Cliente</title>
    <!-- Enlace al archivo de estilos -->
    <link rel="stylesheet" href="../css/stylesMenuCliente.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menú de Cliente</h1>
        <a href="#" class="menu-button">Consultar reservas entre fechas</a>
        <a href="#" class="menu-button">Buscar pista disponible según criterios</a>
        <a href="#" class="menu-button">Realizar una reserva</a>
        <a href="#" class="menu-button">Adquirir un bono y asociar reservas</a>
        <a href="#" class="menu-button">Cancelar o modificar una reserva</a>
        <a href="/p3/MVC/View/jsp/logout.jsp" class="menu-button">Desconectarse</a>
    </div>
</body>
</html>
