<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Administración</title>
    <!-- Enlace al archivo de estilos externo -->
    <link rel="stylesheet" href="../css/stylesMenu.css">
</head>
<body>
    <div class="menu-container">
        <h1>Menú de Gestión</h1>
        <a href="#" class="menu-button">Dar de alta los materiales y las pistas</a>
        <a href="#" class="menu-button">Asociar materiales a pistas</a>
        <a href="#" class="menu-button">Modificar el estado de materiales y pistas</a>
        <a href="#" class="menu-button">Eliminar reservas que aún no se hayan realizado</a>
    </div>
</body>
</html>
